.box-red {
  background-color: white;
}

@keyframes slideLEFT {
  from {
    transform: translateX(1500px);
  }

  to {
    transform: translateX(-500px);
  }
}
.heading {
  color: red;
  animation-name: slideLEFT;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  font-size: 30px;
  position: relative;
}

@keyframes starFalling {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(1500px);
  }
}

.star1 {
  animation-name: starFalling;
  animation-duration: 21s;
  animation-timing-function: linear;
  animation-delay: 25s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  font-size: 40px;
  position: relative;
  color: antiquewhite;
}
